:root {
  --blue: #0972d3;
  --darkblue: #033160;
  --lightblue: #b5d6f4;
  --danger: #d91515;
  --darkred: #c90505;
  --gray: #d8d8d8;
}

body {
  min-height: 100vh !important;
}

#root h1{
  font-size: var(--font-heading-l-size-otmxys, 24px);
  line-height: var(--font-heading-l-line-height-gev4n1, 30px);
  letter-spacing: var(--font-heading-l-letter-spacing-f6wvtk, -0.015em);
  font-weight: var(--font-heading-l-weight-xm7ks9, 800);
  text-align:center;
}

#root hr{max-width:780px; margin:1rem auto;}

[data-amplify-authenticator] [data-amplify-router] {
  box-shadow: none !important;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: #ddd;
  margin-top: 10rem;
  border: 1px solid var(--gray);
}

body h2 {
  font-size: 1.1rem;
  text-align: center;
  min-height: 2rem;
}

section {
  animation: jumpIn 1s forwards;
}


div.language {
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 60px;
  padding: .3rem .5rem;
  margin: .5rem auto;
  transition: all .3s;
}

div.language.disabled {
  opacity: .5;
  background-color: var(--bs-gray-300);
  pointer-events: none;
}

div.language,
div.language label {
  width: 100%;
  cursor: pointer;
}

div.language.active,
div.language.active label {
  cursor: default;
}

div.language:hover {
  border: 2px solid var(--blue);
}

div.language.active {
  border: 2px solid var(--blue);
  color: var(--blue);
}

div.language strong {
  margin-left: .7rem;
}

div.translator {
  max-width: 400px;
}

.translator button {
  display: flex;
  width: 100%;
  height: 180px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  border: 0px;
  transition: all .15s ease-out;
  border-radius: 30px;
}



.translator label {
  height: 40px;
  transform: translateY(55px);
  flex: 1;
  padding: .5rem 0px;
  width: 90%;
  background-color: #dfdfdfcc;
  border-radius: 30px;
  text-align: center;
  margin: 0rem auto;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.translator label img {
  margin-top: -3px;
  margin-right: 8px;
}

.time_left{font-size:3rem}

button:not[disabled] {
  cursor: pointer;
}


button.record:not([disabled]):hover,
button.play:not([disabled]):hover,
button.recording:hover,
button.playing:hover {
  transform: scale(1.03);
}

button:hover:active {
  filter:brightness(.9);
}

button strong {
  color: #ffffff
}

button.play,
button.playing {
  background-color: var(--blue);
}

button.playing {
  animation: glowPlay 1s infinite;
  border: 3px solid var(--darkblue);
}

button.record,
button.recording {
  background-color: var(--danger);
}

button.recording {
  animation: glowRecord 1s infinite;
  border: 3px solid var(--darkred);
}

button.recording svg,
button.recording:hover strong {
  display: none;
}

button.recording:hover svg,
button.recording strong {
  display: block;
}

.audio {
  position: fixed;
  width: 400px;
  left: calc(50% - 200px);
  bottom: 0px;
}

audio {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: block
}

@keyframes glowRecord {
  0% {
    box-shadow: 0px 0px 30px red
  }

  50% {
    box-shadow: 0px 0px 0px red
  }

  100% {
    box-shadow: 0px 0px 30px red
  }
}

@keyframes glowPlay {
  0% {
    box-shadow: 0px 0px 30px var(--blue)
  }

  50% {
    box-shadow: 0px 0px 0px var(--blue)
  }

  100% {
    box-shadow: 0px 0px 30px var(--blue)
  }
}

#back {
  position: absolute;
  top: 0;
  height: 100vh;
  background-color: #ddd;
  width: 70px;
  left: -6rem;
  transition: .25s left ease-out
}

#back button {
  background: none;
  border: 0px;
  transform: translateY(-.2rem);
  font-size: 4.5rem;
  background-color: none;
  height: 100%;
  padding-top: 1.5rem;
  width: 100%;
  vertical-align: top;
  display: flex;
}

#back:hover {
  background-color: #eee
}

#back.visible {
  left: 0px;
}

/*--------*/

button.playback {
  border: 0px;
  transition: all .5s;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  background-color: #555;
  z-index: 1;
  position: relative
}

.transcription {
  background-color: #fff;
  border: 1px solid lightgray;
  text-align: left;
  font-family: 'Amazon Ember Mono';
  font-size: 1.2rem;
  padding: .8rem 1.7vw;
  border-radius: 16px;
  overflow-y: scroll;
  animation: jumpIn 1s forwards;
}



::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #CBCBCB;
  outline: 2px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}

#processStatus {
  animation: jumpIn 1s forwards
}

@keyframes jumpIn {
  0% {
    transform: translateY(1rem);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

audio {
  display: none
}

#sign_out {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.transcription{
  height:90px;
  max-height:140px;
  margin: 0px auto;
  width:100%;
  max-width:700px;
}
#steps{
  height:195px;
  max-height:195px;
  margin: 10px auto 10px auto;
  width:100%;
  max-width:700px;
}
#steps {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  margin-top:20px;
  align-items: center;
}

#steps p {
  margin: 0px;
  padding: .4rem;
  border-radius: 3px;
}
#steps p {
  height: 60%;
  width: 25%;
  justify-content: space-between;
  text-align: center;
  position: relative;
  padding: 0px;
  font-weight:600;
}

#steps p span {
  display: block;
  width: 100%;
  transition: all .4s;
  position: absolute;
  top: 0px;
  bottom: auto;
}

#steps p.idle {
  top: 0px;
  color:var(--gray);
}

#steps p.active span {
  top: calc(50% - 1rem);
}
#steps p span strong{
  transition: all 7s;
  display:inline-block;
  transform: translateY(-14px);
}

#steps p.active span strong{  
  transform: translateY(17px);
}


#steps p.complete span {
  top: calc(100% - 1.5rem);
}

#steps p.idle span:first-child {
  opacity: 1;
}

#steps p.idle span:last-child,
#steps p.idle span:nth-child(2) {
  opacity: 0;
}

#steps p.active span:nth-child(2) {
  opacity: 1;
}

#steps p.active span:first-child,
#steps p.active span:last-child {
  opacity: 0;
}


#steps p.complete span:last-child {
  opacity: 1;
}

#steps p.complete span:first-child,
#steps p.complete span:nth-child(2) {
  opacity: 0;
}

#simulator {
  position: absolute;
  width: 600px;
  left: calc(50% - 300px);
  bottom:0px;
  text-align: center;
  display:none;
}